
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Login</h1>
<div class="text-center">
    
    <hr/><br/><br/>
    <form onsubmit="/auth/login" method="post">
        <input type="text" id="email" name="email"><br/>
        <b>Username</b><br/><br/>
        <input type="password" id="password" name="password"><br/>
        <b>Password</b><br/><br/>
        <button type="submit">Log In</button>

    </form>
    </div>
