@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Register</h1>
<div class="text-center">
    
    <hr/>
    <form action="/auth/register" method="post">
        <input type="text" name="cname" id="cname" placeholder="Enter Name"/><br/>
        <b>Name</b><br/><br/>
        <input type="text" name="address" id="address" placeholder="Enter Address"/><br/>
        <b>Address</b><br/><br/>
        <input type="email" name="email" id="email" placeholder="Enter Email"/><br/>
        <b>Email</b><br/><br/>
        <input type="password" name="password" id="password" placeholder="Enter Password"/><br/>
        <b>Password</b><br/><br/>
        <button type="submit">Sign Up</button>
    </form>
</div>
